.tab {
    cursor:pointer;
    display: flex;
}

.tab a {

    display: inline-block;

    width: 178px;
    height: 60px;

    border-radius: 100px;
    border: 1px solid #FFF;
    background: #D9D9D9;
    
    color: #666;
    text-align: center;
   
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; 
    letter-spacing: -1.2px;

}

.tab a:hover{
    color: #2775DE;
    background: #FFF;
    border-radius: 100px;
    border: 1px solid #2775DE;
}

.tab .on{
    color: #FFF;
    background: #2775DE;
}

.gtbl1 {
	width: 100%;
	border-top: 2px solid #DBDBDB;
    margin-bottom: 100px;   
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* 이미지가 넘치면 다음 줄로 넘어가도록 설정 */
    justify-content: space-between; /* 이미지 사이에 공간을 균등하게 배분 */

}

.gtbl1-item{   
    width: 290px;
    margin-bottom: 10px; 
    padding-top: 28px;
    padding-bottom: 10px;
}

.gtbl1-item .atr img{
    width: 100%;     /* 이미지 너비를 부모 요소에 맞춤 */
    height: auto;    /* 이미지 높이 자동 조절 */
    display: block;  /* 이미지 줄 바꿈 */
}

.gtbl1 span {
    color: #272727;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
}

.gtbl1 .bTitle{
    margin-top: 17px;
    width: 290px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    padding-top: 18px;
}

.gtbl1 .bTitle img {
    padding-left: 10px;
    padding-right: 5px;
}

.gtbl1 .bTitle b {
    color: #2775DE;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: -0.75px;

}

.gtbl1 .gtbl1-item .bTitle .tbl{
    width: 100%;
}

.gtbl1 .gtbl1-item .bTitle .rtd {
    text-align: right;
    vertical-align: top;
    color: #666;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.75px;   
    padding-right: 20px;
}

/* 미디어 쿼리: 작은 화면에서는 이미지를 한 줄에 하나씩 */
@media (max-width: 768px) {

    .gtbl1-item{   
        width: 100%;
    }

    .gtbl1-item .bTitle{
        width: 100%; /* 한 줄에 하나씩 */
    }
    
    .tab a {
        width: 30%;
        font-size: 18px;
    }
    .section7 .links a {
        width: 40%;
        font-size: 13px;
    }
}

/* ////////////////////////////////////////////////////////// */

.gdiv {
    margin-top: 10px;
}

.gdiv h1 {
    text-align: left;
    font-size: 40px;
}


.gtbl2 {
    width: 100%;
    background-color: #F5F5F5;

    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid #D9D9D9;

}

.gtbl2 td{
    border: 1px solid #D9D9D9;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gtbl2 th{
    width: 10%;    
}

.gtbl3 {
    width: 100%;

    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    border: 1px solid #DBDBDB;
    margin-bottom: 30px;
}

.gtbl3 tr td{
    border: 1px solid #DBDBDB;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.gtbl3 b{
    color: #2775DE;
}

