.board_view_gd {
	padding-bottom: 50px;
	border-top: 2px solid #272727;
	border-bottom: 1px solid #c5c5c5;
}

.board_view_gd .cont_wrap {
	padding: 40px 20px;
	line-height: 180%;
	font-size: 2rem;
	color: #666;
}

.button#pc a{
    display: flex;
	width: 241px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #2775DE;
    justify-content: center;
    align-items: center;

    color: #FFF;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    letter-spacing: -1px;
}

.button#mobile a{
    display: none;
}

.tab {
    cursor:pointer;
    display: flex;
}

.tab a {

    display: flex;
    width: 120px;
    height: 35px;
    margin-right: 10px;
    padding-top: 4px;
    justify-content: center;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 50px;
    background: #D9D9D9;;
    text-align: center;
    font-size: 1.6rem;
    color: #666;
    font-family: "Noto Sans KR";
}

.tab .on{
    color: #FFF;
    background: #2775DE;
}

.gtbl1 {
	width: 100%;
	border-top: 1px solid #DBDBDB;
    /* margin-bottom: 90px;    */
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap; /* 이미지가 넘치면 다음 줄로 넘어가도록 설정 */
    justify-content: left;

}

.gtbl1-item-center,
.gtbl1-item{   
    width: 374px;
    margin-bottom: 80px; 
}

.gtbl1-item-center{  /* 2,5,8 column*/
    margin: 0px 38px 80px 38px; /* 상우하좌 */
}

.gtbl1-item-center .txt,
.gtbl1-item .txt{
    margin-top: 15px;
    margin-bottom: 15px;
}

.gtbl1-item .atr img{
    width: 100%;     /* 이미지 너비를 부모 요소에 맞춤 */
    height: auto;    /* 이미지 높이 자동 조절 */
    display: block;  /* 이미지 줄 바꿈 */
    border: 1px solid #f5f5f5;
}

.gtbl1 span {
    color: #272727;
    font-family: "Noto Sans KR";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
}

.gtbl1 .bTitle{
    width: 374px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F5F5F5;
    padding-top: 16px;
   
}

.gtbl1 .bTitle img {
    padding-left: 15px;
    padding-right: 8px;
}

.gtbl1 .bTitle b {
    color: #2775DE;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; 
    letter-spacing: -0.75px;

}

.gtbl1 .gtbl1-item-center .bTitle .tbl,
.gtbl1 .gtbl1-item .bTitle .tbl{
    width: 100%;
    /* padding-top: 12px;
    padding-bottom: 12px; */

}

.gtbl1 .gtbl1-item-center .bTitle .rtd,
.gtbl1 .gtbl1-item .bTitle .rtd {
    text-align: right;
    vertical-align: top;
    color: #666;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -0.75px;   
    padding-right: 20px;
}

.gdiv h1 {
    text-align: left;
    color: #272727;
    font-family: "Noto Sans KR";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.8px;
}

.gdiv .line{

    border-top: 2px solid #DBDBDB;
    margin-top: 40px;
    margin-bottom: 90px;
}

.gdiv h2 {
    color: #2775DE;
    font-family: "Noto Sans KR";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    text-align: center;
}

.gdiv h3 {
    color: #666;

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 12px;
    text-align: center;    
    margin-bottom: 39px;  
}

.gdiv .titleView {
    display: flex;
    width: 94px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #2775DE;

    color: #FFF;

    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;

    justify-content: center;
    align-items: center;

    margin-top: 40px;
    margin-bottom: 20px;


}

.gdiv .titleView b{
    padding-left: 3px;
}

.gdiv .vCntHead{
    width: 100%;  
}

.gdiv .vCnt{
    display: flex;
    border-radius: 20px;
    border: 1px solid #2775DE;
    width: 71.91px;
    height: 24px;
    flex-shrink: 0;
    color: #2775DE;
    font-family: "Noto Sans KR";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 100% */
    letter-spacing: -0.75px;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.gdiv .vCntInfo{
    display: flex;
    background:#F5F5F5;
    width: 418px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    justify-content: center;    
    margin: auto; 
  
}

.gtbl5{
    width: 100%;
    align-items: center;
}

.gtbl5 th{
    color: #666;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.8px;
}

.gtbl5 td{
    color: #272727;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.8px;
}

.gtbl5 b{
    color: #2775DE;
}

.gdiv .innCon{
    margin-top: 50px;
}

.gdiv .innCon img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    
}

.line-text{
    border-top: 1px solid #272727;
    margin-top: 90px;
    margin-bottom: 90px;

}


/* 미디어 쿼리: 작은 화면에서는 이미지를 한 줄에 하나씩 */
@media (max-width: 768px) {

    .board_view_gd .cont_wrap {
		padding: 20px 0;
		font-size: 1.4rem;
	}
     
    .button a {
        margin-top: 40px;
    }

    .button#mobile {
        margin-right: 20px
    }
   

    .button#mobile a{
        width: 100%;
        height: 48px;
        border-radius: 5px;
        background: #2775DE;

        display: flex;
       
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;

        color: #FFF;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
        letter-spacing: -0.8px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .button#pc a{
        display: none;
    }

    .tab a {
        font-size: 16px;
    }
    
    .gtbl1-item-center,
    .gtbl1-item{   
         width: 100%;
         margin-bottom: 50px;
    }

    .gtbl1-item-center .atr img,
    .gtbl1-item-center .bTitle,
    .gtbl1-item .bTitle{
        width: 100%; /* 한 줄에 하나씩 */
    }

    .gtbl1-item-center{
        margin-left: 0px;
        margin-right: 0px;
    }  
   

    .gdiv h1 {
        font-size: 20px;
        line-height: 23px;
    }

    .gdiv .line{    
        border-top: 2px solid #DBDBDB;
        margin-bottom: 45px;
    }

    .gdiv .innCon img{
        position: relative;
		top: auto;
		right: auto;
		width: 100%;
		margin-top: 20px;
    }    

    .gdiv .vCntHead h2{
        font-size: 1.6rem;
    }

    .gdiv .vCntHead h3{
        font-size: 1.2rem;
    }

    .gdiv .vCntHead .vCntInfo .gtbl5 th{
        font-size: 1.2rem;
    }

    .gdiv .vCntHead .vCntInfo .gtbl5 td{
        font-size: 1.2rem;
    }
    
    .gdiv .vCntInfo{
        width: 100%;
    }

    .imgPd{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}

@media (hover: hover) and (pointer: fine) {

    /* pc에서만 hover 가 동작하도록 한다. 모바일 경우 적용 안됨 */
    .tab a:hover{
        color: #2775DE;
        background: #FFF;
        border-radius: 100px;
        border: 1px solid #2775DE;
    }
}